<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{{ title }}}" />
    <meta property="og:site_name" content="{{{ title }}}" />
    <meta property="og:locale" content="zh-CN" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{{ title }}}" />
    {{{ userHeadTags



    }}}
    {{{ pageMeta



    }}}
    {{{ renderResourceHints()



    }}}
    {{{ renderStyles()



    }}}
  </head>
  <body>
    <div id="loader-wrapper" style="display: none;opacity:0">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!--vue-ssr-outlet-->
    {{{ renderScripts() }}}
  </body>
</html>
