$body-font-family = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$font-size-root = 16px
$line-height-root = 1.5
$card-border-radius = 4px

$font-roboto = './fonts/roboto'
$font-code = Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace

$container-max-width = 1000px
$body-background = #f6f6f6
$primary-color = #3F51B5
$light-primary-color = lighten($primary-color, 50%)
$content-color = #4d4d4d
$gray-color = #fff

$custom-blocks = {
  tip: #4caf50
  warning: #FF9800
  danger: #ff5722
}

$code-languages = {
  js: 'js' 'javascript'
  html: 'html' 'markup'
  md: 'md' 'markdown'
  vue: 'vue'
  css: 'css'
  less: 'less'
  sass: 'sass'
  scss: 'scss'
  stylus: 'stylus'
  jsx: 'jsx'
  ts: 'ts' 'typescript'
  json: 'json'
  yaml: 'yaml'
  bash: 'bash'
  c: 'c'
  java: 'java'
  kotlin: 'kotlin'
  python: 'py' 'python'
  csharp: 'c#' 'csharp'
  go: 'go'
  sql: 'sql'
}

// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

